In [1]:
print("wellcome to the collections concept in python ")

wellcome to the collections concept in python

#collections in python 
- list
- tuple
- set
- dictionary

#list
- list data can be represented by using [] or list()
- list allow duplicate value
- we can manupulate data by using indexing and slicing
- ordered format values are stored in a list

In [6]:
list1={1,2,3,4}
list1

{1, 2, 3, 4}

In [7]:
list2={"kalyan","badulla","rakesh"}
list2

{'badulla', 'kalyan', 'rakesh'}

In [8]:
list3=["ram",1,"sam",2,"nayan",3]
print(list3)

['ram', 1, 'sam', 2, 'nayan', 3]

In [13]:
list3[2]

'sam'

In [14]:
list3[4]

'nayan'

In [15]:
list3[-4]

'sam'

In [16]:
list3[5]

3

In [17]:
list3[:-2]

['ram', 1, 'sam', 2]

In [18]:
list3[0:4]

['ram', 1, 'sam', 2]

In [19]:
list3[1:4]

[1, 'sam', 2]

In [21]:
list3[-2:1:-1]

['nayan', 2, 'sam']

In [24]:
demo=list3[1:3]

In [25]:
demo[::-1]

['sam', 1]

In [26]:
list3

['ram', 1, 'sam', 2, 'nayan', 3]

In [27]:
list3.append("mahesh")
list3

['ram', 1, 'sam', 2, 'nayan', 3, 'mahesh']

In [28]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [29]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [30]:
del list5

In [31]:
list5

NameError: name 'list5' is not defined

In [35]:
list5.insert(3,Aravind)

NameError: name 'list5' is not defined

In [38]:
employee=["sam","mahesh","bhanu"]
manager=["rakesh","vamsi","madhavi"]
for emp in employee:
    manager.append(emp)
print(manager)

['rakesh', 'vamsi', 'madhavi', 'sam', 'mahesh', 'bhanu']

In [41]:
if "vamsi" in manager:
    print("he is manager list")
else:
    print("he is employee list")

he is manager list

In [42]:
list5.count(2)

NameError: name 'list5' is not defined

# in a given list i want to get 2nd highest value
example:
    i/p:-  321321, 3213 ,121 ,3, 3244234 ,332443
    o/p: 332443

In [47]:
list =[321321,3213,121,3,3244234,332443]
print("the largest number is",max(list))

the largest number is 3244234

In [4]:
marks=[]
marks_size=int(input("enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("enter marks"))
    marks.append(marks_list)
print(marks) 
def secondHighest(marks):
    marks.sort()
    return marks[2]
secondHighest(marks)

enter how many marks are there5
enter marks8
enter marks0
enter marks6
enter marks5
enter marks4
[8, 0, 6, 5, 4]

5