In [2]:
li = [10,2,23,5,60]
li.sort()

In [3]:
print("max value is ",li[-1])
print("second max value is ",li[-2])

max value is  60
second max value is  23

In [5]:
# find the min and max without out using predifined function
l=[10,20,9,100,89,500]
m=l[0]
for i in l:
    if(i>m):
        m=i
print("max number in a list is ",m)

max number in a list is  500

In [6]:
# find the min  without out using predifined function
l=[10,20,9,100,89,500]
m=l[0]
for i in l:
    if(i<m):
        m=i
print("min number in a list is ",m)

min number in a list is  9

In [7]:
# sort the list of elemrnts with out using predifined function
l=[10,20,9,100,89,500]

In [14]:
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[9, 10, 20, 89, 100, 500]

In [15]:
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]<l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[500, 100, 89, 20, 10, 9]

In [ ]:
# find the primenumber in a list
l=[2,3,4,5,6,7,8,9,10,11]
plist=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("prime number is ",i)
        plist.append(i)
plist

In [21]:
# print the list of a squares of elements
l=[1,2,3,4]
ll=[]
for i in l:
    ll.append(i**2)
ll

[1, 4, 9, 16]

### tupples:
* tuples is like a lists
* tuples are immutable list
* tuples are create by using()

In [23]:
t=(1,2,3,4,"hello",4.5,9.9)
type(t)

tuple

In [24]:
t=(1,2,3,[10,20,30],"hello",9.0)
t

(1, 2, 3, [10, 20, 30], 'hello', 9.0)

In [25]:
l=[(1,2,3,4),("hello","wellcome",),10,30]
l

[(1, 2, 3, 4), ('hello', 'wellcome'), 10, 30]

In [27]:
t=(1,2,3,"hello","5.7")
t[-1]

'5.7'

In [29]:
t[1:]

(2, 3, 'hello', '5.7')

In [31]:
t[-2]

'hello'

In [32]:
t[3]

'hello'

In [35]:
t[::-1]# start index,end index,step

('5.7', 'hello', 3, 2, 1)

In [36]:
t[0::2]

(1, 3, '5.7')

In [37]:
t[1::2]

(2, 'hello')

In [38]:
t=([1,2,3],[4,5,6,7])
t[0]

[1, 2, 3]

In [39]:
t[1][0]

4

In [43]:
t=(1,2,3,43,5,6,7,8,"hello")
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [45]:
l=[1,2,34,5]
l[0]=100
l

[100, 2, 34, 5]

In [49]:
t=(1,2,3,3,4,7,5,"hello",1,1)
t.count(1)

3

In [51]:
t.index(3)

2

### set :
* set is a un-order data elements
* set can be create by using{}
* set did't allows the dulicate elements

In [52]:
# clear a set
s={"hello","good",1,2,34,4,5,5.6}
type(s)

set

In [53]:
s=set()
type(s)

set

In [54]:
# without passing elements that object return dictionary
s={}
type(s)

dict

In [55]:
s={1,1,1,1,2,2,2,33,4,4,4,4,55,5,6,6,6,"hello","hello"}
s

{1, 2, 33, 4, 5, 55, 6, 'hello'}

In [57]:
# we can't 
s={10,20,30,"nice","cook"}
s[0]

TypeError: 'set' object is not subscriptable

In [59]:
for i in s:
    print(i)

10
cook
nice
20
30

In [62]:
s={1,2,3,44,(1,2,3,4),[1,2,3,4]}
s

TypeError: unhashable type: 'list'

In [63]:
l=[10,20,4,6,5]
s=set(l)
s

{4, 5, 6, 10, 20}

In [66]:
s={1,2,3,4,5}
s.add("hello")
s.add(100)
s

{1, 100, 2, 3, 4, 5, 'hello'}

In [67]:
# clear 
s.clear()
s

set()

In [68]:
# to delete the object by using del
del(s)

In [69]:
s

NameError: name 's' is not defined

In [71]:
s={1,2,3,4,5,5}
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5}

In [73]:
# difference
s1={1,2,3,4,4,5}
s2={1,2,20,30,5}
s1.difference(s2)
s2.difference(s1)

{20, 30}

In [74]:
s1.difference_update(s2)

In [75]:
s1

{3, 4}

In [76]:
s1={1,2,3,45,67,7}
s1.discard(2)
s1

{1, 3, 7, 45, 67}

In [77]:
s1={1,2,3,4,4,5}
s2={1,2,20,30,5}
s1.intersection(s2)
s1

{1, 2, 3, 4, 5}

In [79]:
s1={1,1,1,2,45,6,7}
s2={10,20,30,40,50}
s1.isdisjoint(s2)

True

In [81]:
s1={1,2,3,4,6,7}
s2={1,2,3,4}
s1.issubset(s2)

False

In [84]:
s2.issubset(s1)

False

In [86]:
s1={1,2,3,4,6,7}
s2={1,2,3,4}
s1.issuperset(s2)

True

In [87]:
s2.issuperset(s1)

False

In [88]:
s={10,20,30,40,12,3}
s.pop()

3

In [89]:
s

{10, 12, 20, 30, 40}

In [90]:
s={10,20,30,40,12,3}
s.remove(10)

In [91]:
s

{3, 12, 20, 30, 40}

In [92]:
s1={1,2,3,4,6,7}
s2={1,2,3,4}
s1.symmetric_difference(s2)

{6, 7}

In [93]:
s1.symmetric_difference_update(s2)

In [94]:
s1

{6, 7}

In [95]:
s1={1,2,3,4,6,7}
s2={1,2,3,4}
s1.union(s2)

{1, 2, 3, 4, 6, 7}