In [2]:
# Dynamic list creation
# li = []  or li = list()
# input:enter a range :5
# [1,2,3,4,67]
li = []
n = int(input("enter a range:"))
for i in range(n):
    val = int(input("enter a value:"))
    li.append(val)
    
print(li)

enter a range:3
enter a value:56
enter a value:78
enter a value:98
[56, 78, 98]

In [13]:
# li = [12,34,55,44,75,23,456,232]
# output:[12,34,456,232]
# print sum ([12,34,44,456,232])
li = [12,34,55,44,75,23,456,232]
eli = []
for val in li:
    if val%2==0:
        eli.append(val)
print(eli)
#sm=0
#for i in eli:
   # sm += i
#print(sm)
print(sum(eli))

[12, 34, 44, 456, 232]
778

### Remove the duplicate elements in the list
ex: [11,22,11,25,36,36,11,25]
[11,22,25,36]

In [15]:
li = [11,22,11,25,36,36,11,25]
lis = []
for i in li:
    #print(i,end="")
    if i not in lis:
        lis.append(i)
print(lis)

[11, 22, 25, 36]

In [16]:
# print the even in assending order and print the odd numbers in list
[1,2,3,4,5,7,6,8,9]
[2,4,6,9,7,5,4,1]

[2, 4, 6, 9, 7, 5, 4, 1]

In [34]:
li = [1,2,3,4,5,7,6,8,9]
evenlist = []
oddlist = []

for i in li:
    if(i%2==0):
        evenlist.append(i)
    else:
        oddlist.append(i)
evenlist
oddlist
#evenlist+oddlist[::-1]

[1, 3, 5, 7, 9]

In [36]:
oddlist.sort(reverse=True)

In [37]:
oddlist

[9, 7, 5, 3, 1]

### print the min and second min in a list
[10,2,23,5,60]

In [45]:
l = [10,2,23,5,60]
l.sort()

In [46]:
print("min value is ",l[0])
print("second min value is ",l[1])

min value is  2
second min value is  5